.professor-toolbar {
    position: relative;
  }
  
  .espacio_extendido {
    flex: 1 1 auto;
  }
  
  .professor-toolbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00bcd4;
  }
  
  .professor-view {
    background-color: #f0f0f0;
    padding: 16px;
  }
  
  .mat-menu-panel {
    display: flex;
    flex-direction: column;
  }
  
  .mat-menu-content {
    flex-direction: column;
  }
  
  button.mat-button {
    color: #ffffff;
    margin: 8px 0;
  }
  
  /* Estilos para el botón de menú desplegable */
  button.mat-icon-button {
    color: #ffffff;
    /* Color del ícono del menú */
  }
  
  /* Ajuste de color al pasar el ratón sobre los elementos del menú */
  button.mat-menu-item:hover {
    background-color: #0097a7;
    /* Puedes cambiar el color al pasar el ratón según tu diseño */
  }