.professor-toolbar {
    background-color: #1976d2;
    color: white;
}

.custom-insert-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 16px;
}

.custom-insert-container h2 {
    margin-bottom: 20px;
}

.custom-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-form-field.custom-form-field {
    width: 100%;
}

.custom-button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.custom-button-container button {
    display: block;
    margin-top: 10px;
}

/* Ajustes para pantallas m치s peque침as */
@media only screen and (max-width: 600px) {
    .custom-insert-container {
        margin-top: 8px;
        padding: 15px;
    }

    .custom-button-container {
        flex-direction: row; /* Vuelve a la direcci칩n de fila para pantallas peque침as */
        justify-content: space-around;
        width: 100%;
    }

    .custom-button-container button {
        margin-top: 0;
    }
}
