<mat-toolbar color="primary" class="professor-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="menuCine">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/product">
        <mat-icon>book</mat-icon>
        Product
    </button>

    

    <span class="espacio_extendido"></span>
    <div *ngIf="userLogged()">
        <button (click)="logoutHome()" mat-raised-button color="accent">Home</button> |
        <button mat-raised-button (click)="logout()" color="warn">LogOut</button>
    </div>

</mat-toolbar>

<mat-menu #menuCine="matMenu">

    <button mat-menu-item routerLink="/home">
        <mat-icon>person</mat-icon>
        Login
    </button>

    <button mat-menu-item routerLink="/product-order">
        <mat-icon>security</mat-icon>
        Producto(s) a orden
    </button>

    <button mat-menu-item routerLink="/order">
        <mat-icon>school</mat-icon>
        Order
    </button>
</mat-menu>

<app-insert-product></app-insert-product>